
# Directories #
/build/
bin/
repos/
/repos/
doc/
/doc/
.gradle/
/bin/
target/

# OS Files #
.DS_Store
Thumbs.db
Desktop.ini

# JetBrain's Idea specific stuff #
.idea

# mpeltonen/sbt-idea plugin
.idea_modules/


*.class
browscap.csv
gradlew.bat

# Package Files #
*.jar
*.war
*.ear
*.db
